body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:689px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:161px;
  background:inherit;
  background-color:rgba(255, 240, 231, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u135 {
  position:absolute;
  left:20px;
  top:20px;
  width:260px;
  height:161px;
}
#u136 {
  position:absolute;
  left:2px;
  top:72px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:851px;
  height:181px;
}
#u137 {
  position:absolute;
  left:-81px;
  top:270px;
  width:851px;
  height:181px;
}
#u138 {
  position:absolute;
  left:2px;
  top:82px;
  width:847px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u139 {
  position:absolute;
  left:608px;
  top:367px;
  width:15px;
  height:16px;
}
#u140 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u141 {
  position:absolute;
  left:668px;
  top:368px;
  width:15px;
  height:15px;
}
#u142 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:69px;
  top:126px;
  width:52px;
  height:30px;
}
#u143_input {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u144 {
  position:absolute;
  left:79px;
  top:89px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u146 {
  position:absolute;
  left:148px;
  top:89px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u148 {
  position:absolute;
  left:211px;
  top:89px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u150 {
  position:absolute;
  left:144px;
  top:132px;
  width:41px;
  height:19px;
  font-size:16px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u152 {
  position:absolute;
  left:207px;
  top:132px;
  width:41px;
  height:19px;
  font-size:16px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u154 {
  position:absolute;
  left:626px;
  top:363px;
  width:40px;
  height:23px;
}
#u154_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u155 {
  position:absolute;
  left:108px;
  top:31px;
  width:73px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u157 {
  position:absolute;
  left:308px;
  top:283px;
  width:73px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u159 {
  position:absolute;
  left:600px;
  top:390px;
  width:90px;
  height:30px;
}
#u160 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u161 {
  position:absolute;
  left:483px;
  top:352px;
  width:90px;
  height:30px;
}
#u162 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:38px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u163 {
  position:absolute;
  left:710px;
  top:357px;
  width:50px;
  height:38px;
}
#u164 {
  position:absolute;
  left:2px;
  top:11px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u165 {
  position:absolute;
  left:492px;
  top:366px;
  width:41px;
  height:19px;
  font-size:16px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u167 {
  position:absolute;
  left:710px;
  top:367px;
  width:41px;
  height:19px;
  font-size:16px;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
